body{
        background: rgb(255,250,250);
        font-family: courier, sans-serif;
        color: black;
        font-size: 3vh;
}
.page-title{
        text-align: center;
        font-size: 12vh;
        font-family: tahoma;
        margin-top: 3vh;
}
h2{
        font-size: 4vh;
}
h3{
        color: rgb(153, 0, 51);
        font-size: 6vh;
        font-family: tahoma;
}
.menu-heading{
        text-align: center;
}
h4{
      color: rgb(24,104,59);
      font-size: 4.5vh;
}
.about-us-text{
        text-align: center;
}
.img-team{
  height: 25vh;
  border-radius: 50%
}
.img-about-us{
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.parallax {
  background-image: url("https://image1.masterfile.com/getImage/NjEyMi0wNzcwNTY1MGVuLjAwMDAwMDAw=AJvXT2/6122-07705650en_Masterfile.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
form {
  align-items: center;
}
