body{
        background-color: rgb(255,250,250);
        font-family: courier, sans-serif;
        color: black;
        font-size: 3vh;
}

/* GENERIC */
.bg-red{
        background-color: rgb(153, 0, 51);
        color: rgb(255,250,250);
}
.fg-white{
        color: rgb(255,250,250);
}
.center-text{
        text-align: center;
}
.justify-text{
        text-align: justify;
}
.align-right{
        text-align: right;
}
.border-right-white{
        border-left: 1px solid rgb(255,250,250);
}
.border-left-black{
        border-left: 1px solid rgb(0,0,0);
}

/* DIVS */
.container-fluid{
        padding: 0px;
}

.footer {
        color: rgb(255,250,250);
        height: 9vh;
        overflow: hidden;
}
.footer-content{
        padding-top: 2vh;
}

/* TEXT STYLES*/
h2{
        font-size: 4vh;
}
h3{
        color: rgb(153, 0, 51);
        font-size: 8vh;
        font-family: tahoma;
}
h4{
      color: rgb(24,104,59);
      font-size: 5vh;
}
.page-title{
        font-size: 12vh;
        font-family: tahoma;
        text-align: center;
}
.section-title{
        text-align: center;
        font-size: 9vh;
        font-family: tahoma;
}

/* IMAGE STYLES */
.sm-6-image{
        width: 38vw;
        align: middle;
}
.img-team{
  height: 28vh;
  /* border-radius: 50%; */
}

/* CAROUSEL */
.carousel-content {
        position: absolute;
        top: 17%;
        left: 7%;
        text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.carousel-item{
        filter: grayscale(100%);
        height: 100vh;
}
.carousel-title{
        color: rgb(255,250,250);
        font-size: 10vh;
}

.Submit {
  border-radius: 0.25rem;
  font-family: courier;
}

.starter-template {
  font-family: courier;
}

.introduction {
  margin-top: 30px
  margin-bottom: 30px
}

.h1 {
  border: 3px black double;
}

/* .parallax {
  background-image: url("https://image1.masterfile.com/getImage/NjEyMi0wNzcwNTY1MGVuLjAwMDAwMDAw=AJvXT2/6122-07705650en_Masterfile.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
