h1 {
  color: black;
  margin-left: 20px;
  text-align: center;
}

p {
  text-align: center;
}

.parallax {
  background-image: url("images\home-page-background");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  text-align: center;
}

.img-about-us{
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h2 {text-align: center;
}

form {
  align-items: center;
}
